[nvidia]
username = viktorh
[user]
    name = Viktor Horsmanheimo
    email = viktor.horsmanheimo@gmail.com
[credential]
    helper = cache
[gitreview]
    remote = origin
[core]
    editor = nvim
[alias]
    # ordered by frequency of use
    l  = log
    ll = log --all --oneline --graph --decorate
    d  = diff
    st = status
    b  = branch
    bc = branch --show-current
    co = checkout
    cp = cherry-pick
    s  = show
    c  = commit
    rv = review
    rb = rebase
    p  = pull
    f  = fetch
    a  = add
	wc = log --raw --no-merges
    # helpers
    n  = checkout -b
	soft = reset --soft @^
	rs = restore --staged
	ds = diff --staged
	r = restore
[mergetool]
    keepBackup = false
[merge]
    tool = vimdiff
[pull]
	rebase = true
[rerere]
	enabled = true
[color]
	ui = auto
[status]
	relativePaths = true
