[core]
    editor = vim
[alias]
# ordered by frequency of use
l  = !git log
ll = !git log --all --oneline --graph --decorate
d  = !git diff
st = !git status
b  = !git branch
bc = !git branch --show-current
co = !git checkout
cp = !git cherry-pick
s  = !git show
c  = !git commit
rv = !git review
rb = !git rebase
p  = !git pull
f  = !git fetch
a  = !git add
wc = !git whatchanged
# helpers
n  = !git checkout -b
[mergetool]
    keepBackup = false
[merge]
    tool = vimdiff
[pull]
	rebase = true
[rerere]
	enabled = true
